/* Caption Box */
.tr-caption-container{border:1px solid #000!important;padding:5px!important}.tr-caption{background:#000!important;padding:2px!important;font-size:13px!important;font-style:normal!important;color:#fff!important}
